<header class="bg-stone-100 dark:bg-stone-950 text-black dark:text-white p-4">
  <nav class="container mx-auto flex justify-between gap-3 items-center">
    <div class="text-primary-200 font-semibold text-lg flex gap-4">
      <img ngSrc="logo.png" alt="Logo" width="32" height="32" />
    </div>

    <div class="hidden md:flex gap-3">
      @for (item of menuItems; track item.id) {
      <a
        routerLink="{{ item.path }}"
        class="text-black dark:text-white hover:text-primary-500"
      >
        {{ item.title }}
      </a>
      }
    </div>

    <app-dropdown-menu [menuItems]="menuItems" class="block md:hidden" />
  </nav>
</header>
